includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/phpstan-pest-extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - modules
        - routes
        - tests

    level: 8

    tmpDir: storage/phpstan
